<html>
  <head>
    <title>Band Listing</title>
    <style>
        .btn {
            background-color: #42A070;
            color: #fff;
            border-color: #42A070;
            border-radius: 10px;
            padding: 7px
        }
    </style>
  </head>
  <body>
    <h4>Hi {{ username }},</h4>
    <p>Django ships with several email sending backends. With the exception of the SMTP backend (which is the default), these backends are only useful during testing and development. If you have special email sending requirements, you can write your own email backend.</p>
    <a href="{{ href }}" class="btn">Click here</a>
  </body>
</html>